extends ../layout

block content 
  a(href='/usuarios') Volver

  br
  br
  br

  h1 Nuevo Usuario

  br
  br 

  form(action="/usuarios/create" method="post")
    .form-group
      label(for='nombre') Nombre:
      input#nombre.form-control(type="text" name="nombre" value=usuario.nombre class=errors.nombre ? 'is-invalid' : '')
      if errors.nombre
        small#nombreHelp.text-danger
        = errors.nombre.message
    .form-group
      label(for='email') Email:
      input#email.form-control(type="text" name="email" value=usuario.email class=errors.email ? 'is-invalid' : '')
      if errors.email
        small#emailHelp.text-danger
        = errors.email.message
    .form-group
      label(for='pwd') Password:
      input#pwd.form-control(type="password" name="password" value=usuario.password class=errors.password ? 'is-invalid' : '')
      if errors.password
        small#passwordlHelp.text-danger
        = errors.password.message
    .form-group
      label(for='comfirm_pwd') Confirmar Password:
      input#comfirm_pwd.form-control(type="password" name="comfirm_pwd" value=usuario.comfirm_pwd class=errors.comfirm_pwd ? 'is-invalid' : '')
      if errors.comfirm_pwd
        small#comfirm_pwdlHelp.text-danger
        = errors.comfirm_pwd.message
    
      br
      br
      input.btn.btn-ptimary(type="submit" value="OK")
  